@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    transition-property: background-color, border-color, color, fill, stroke, box-shadow, opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  /* Improve overall readability */
  body {
    @apply text-base leading-relaxed;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight;
  }

  button {
    @apply transition-all duration-300;
  }
}

@layer components {
  .bg-glass {
    @apply bg-white/5 backdrop-blur-3xl border border-white/10 shadow-[0_8px_32px_0_rgba(0,0,0,0.37)];
  }
  
  .bg-glass-light {
    @apply bg-black/5 backdrop-blur-3xl border border-black/10 shadow-[0_8px_32px_0_rgba(0,0,0,0.1)];
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(161, 161, 170, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(161, 161, 170, 0.4);
}
